<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini Whatsapp</title>
</head>

<body>
    <h1>All Chats</h1>

    <% for(let chat of chats){ %>
        <div class="container">
            <p class="frm">from :
                <%= chat.from %>
            </p>
            <div class="msg">
                <p>
                    <%= chat.message %>
                </p>
            </div>
            <p class="to">Reciever :
                <%= chat.to%>
            </p>
        </div>
        <hr>
        <% }%>
</body>

</html>