<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Create new chat</h2>
    <form action="/chats/new" method="post">
        <label for="from">From : </label>
        <input type="text" placeholder="Who are you?" id="from" name="from">
        <br>
        <br>
        <label for="message" for="msg">Message : </label>
        <textarea name="message" id="msg" class="message"></textarea>
        <br>
        <br>
        <label for="to">Reciever : </label>
        <input type="text" name="to" id="to" placeholder="Reciever name">
        <br>
        <br>
        <button class="btn">Create New Chat</button>
    </form>

</body>

</html>