<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <H1>Welcom to quoro</H1>
    <div class="box">

        <% for(const post of posts) { %>
            <H3 class="user">Username : @<%= post.user %>
            </H3>
            <br>
            <p class="content">Content : <%= post.content %>
            </p>
            <br>
            <br>
            <a href="http://localhost:3000/posts/update/<%=post.id%>">update</a>
            <form method="post" action="http://localhost:3000/posts/<%=post.id%>?_method=DELETE">
                <button>DELETE</button>
            </form>
            <br>
            <br>
            <% } %>
                <a href="http://localhost:3000/posts/new">Creat a new post</a>
    </div>
</body>

</html>