<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cearting a new post</title>
</head>

<body>
    <form method="post" action="http://localhost:3000/posts/new">
        <h1>Creating a new post</h1>
        <label for="username">user name</label>
        <input type="text" placeholder="enter the user name" id="username" name="user">
        <br>
        <br>
        <br>
        <label for="textarea">Content:</label>
        <textarea name="content" id="textarea" cols="55" rows="10"></textarea>
        <button>submit</button>
    </form>
</body>

</html>