body{
    margin-left: 20px;
}
.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: blue;
    color:  white;
    padding: 5px 15px;
    border-radius: 16px;
}
a{
    text-decoration: none;
    color: black;
}
.message{
    height: 200px;
    width: 200px;
    resize: none;
}
.btn{
    background-color: aliceblue;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}